@page "/discovered"
@using Group4_WebAppFinal.Model
@using System.Net.Http
@inject HttpClient httpDiscover
@inject NavigationManager Navigation


<h3>Discovered</h3>
<FluentButton OnClick="@(() => Navigation.NavigateTo($"discovered/new"))">Add New</FluentButton>

<h3>Your Pokemon</h3>
<FluentDataGrid Items="@pokemons" AdditionalAttributes="@Attributes">
    <PropertyColumn Property="@(p => p.DexNumberID)" Sortable="true" />
    <PropertyColumn Property="@(p => p.PokemonName)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Type1)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Type2)" Sortable="true" />
    <TemplateColumn>
        <FluentButton OnClick="@(() => Navigation.NavigateTo($"discovered/release/{context.DexNumberID}"))">Release</FluentButton>
    </TemplateColumn>
</FluentDataGrid>

@code {
    string? value1, value2, value3;



    IQueryable<PokemonViewModel> pokemons { get; set; }



    protected override async Task OnParametersSetAsync()
    {

        pokemons = (await httpDiscover.GetFromJsonAsync<List<PokemonViewModel>>("/api/pokemon")).AsQueryable();
    }

    Dictionary<string, object> Attributes { get; set; } = new()
    {
        {"width", "200px" }
    };
}
