@page "/"
@using Group4_WebAppFinal.Model
@inject HttpClient httpHome

<PageTitle>Home</PageTitle>

<h1>Pokédex</h1>

<b>Your Pokémon Team:</b>

<FluentDataGrid Items="@pokemon">
    <PropertyColumn Property="@(p => p.DexNumberID)" Sortable="true" />
    <PropertyColumn Property="@(p => p.PokemonName)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Type1)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Type2)" Sortable="true" />

</FluentDataGrid>

@code {
    string? value1, value2, value3, value4, value5, value6, value7;

    IQueryable<PokemonViewModel> pokemon { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        pokemon = (await httpHome.GetFromJsonAsync<List<PokemonViewModel>>("/api/pokemon")).AsQueryable();
    }
}